html {
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

.content > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 40px;
}

.information, .quote-section {
    flex-direction: column;
}

.navigation, .hero, .footer {
    background-color: #1f2937;
    font-size: 18px;
    color: #E5E7EB;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
}

.navigation ul {
    display: flex;
    gap: 12px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.hero {
    gap: 24px;
}

.hero-text {
}

.hero-image {
    height: 250px;
    width: 500px;
    background-color: #6e6e6e;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container, .cta {
    display: flex;
}

.info-container {
    gap: 60px;
    flex-wrap: wrap;
}

.info {
    width: 150px;
    text-align: center;
}

.info-image {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-style: solid;
    border-radius: 10px;
    border-color: #3882F6;
}

.footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a { 
    text-decoration: none;
    color: inherit;
}

p {
    max-width: 75ch;
}