html {
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;

}

.navigation, .hero, .footer {
    background-color: #1f2937;
    font-size: 18px;
    color: #E5E7EB;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 18px;
}

.navigation ul {
    display: flex;
    gap: 12px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.hero {
    display: flex;
}

.info-container {
    display: flex;
}

.cta-section {
    display: flex;
}

.cta {
    display: flex;
}

.footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a { 
    text-decoration: none;
    color: inherit;
}